<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programming Challenge</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script src="../../PapaParse-5.0.2/papaparse.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Import, Read and evaluate a CSV</h1>
    </header>
    <section id="programmingChallenge">
      <input type="file" id="uploadCsvFile" @change="previewFiles" >
      <button @click="parseCsv">Parse CSV</button>
      <div v-if="parsingStatus">
        <p :style="{color: 'Blue', 'font-weight': 'bold'}">The parsing was successful. The file can now be evaluated!</p>
        <h3>First Input for comparison (Minimum value) </h3>
        <ul>
            <li v-for="(value, index) in parsedFileKeys" :key="value" @click="setInputKey1(value, '1')">{{value}}</li>
        </ul>
        <h3>Second Input for comparison (Maximum value) </h3>
        <ul>
            <li v-for="(value, index) in parsedFileKeys" :key="value" @click="setInputKey1(value, '1')">{{value}}</li>
        </ul>
        <h3> Output value </h3>
        <ul>
            <li v-for="(value,index) in parsedFileKeys" 
                :class="{selected: selectedListElement}" 
                :key="value" 
                @click="setOutputKey1(value)"
            >{{value}}</li>
        </ul>
        <button @click="evaluateCsv">Evaluate</button>
        <table id="exportCsvTable"></table>

        <p>Result: {{ evaluationResult}}</p>
      </div>
    </section>
  </body>
</html>